*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# SBT-related files
*.sbt.json

# SBT files
project/target/
project/target/streams/
target/
project/project/

# IDE files
.idea/
*.iml

# Other temporary files
out/
*.tmp
*.swp

